---
layout: default
title: Video game disassembly and analysis projects
---

  <p>This site analyzes and documents classic video games. Read the
  <a href="https://tetracorp.github.io/about/summary.html">summary</a>
  of the project's most critical discoveries.</p>

  {% assign sortedPosts = site.posts | sort: 'slug' %}

  <h3>Major projects</h3>
  <ul class="posts">
    <li><a href="https://tetracorp.github.io/k240/">Exploring K240</a>, the 1994 Amiga RTS</li>
    <li><a href="https://tetracorp.github.io/dungeons-of-avalon/">Exploring the Dungeons of Avalon</a>, the 1992 Amiga RPG series</li>
    <li><a href="https://tetracorp.github.io/tokimeki-memorial/">Exploring Tokimeki Memorial</a>, the 1994 PlayStation visual novel</li>
    <li><a href="https://tetracorp.github.io/task-force/">Exploring Task Force</a>, the 1993 Amiga strategy game</li>
    <li><a href="https://tetracorp.github.io/knightmare/">Exploring Knightmare</a>, the 1991 Amiga RPG</li>
    <li><a href="https://tetracorp.github.io/populous/">Exploring Knightmare</a>, the 1989 god game</li>
  </ul>

  <h3>Amiga games</h3>
  <ul class="posts">
    {% for post in sortedPosts %}
      {% if post.categories contains "amiga" %}
        <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3>Disassembly and analysis articles</h3>
  <ul class="posts">
    {% for post in sortedPosts %}
      {% if post.categories contains "guide" %}
        <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3>Amiga reverse-engineering tools and resources</h3>
  <ul class="posts">
    <li><a href="https://github.com/kermitfrog/Amiga-Re-Engineering">Amiga Re-Engineering</a> - Guide on Amiga game disassembly using Ghidra</li>
    <li><a href="https://github.com/kyz/amostools">amostools</a> - Unpack AMOS source files</li>
    <li><a href="https://ftp.uni-erlangen.de/aminet/disk/salv/DiskSalv.lha">DiskSalv</a> - Amiga tool for analyzing or repairing disks</li>
    <li><a href="https://ghidra-sre.org/">Ghidra</a> - Powerful decompilation tool</li>
    <li><a href="https://github.com/lab313ru/ghidra_amiga_ldr">ghidra_amiga-ldr</a> - Plugin for reading Amiga executables with Ghidra</li>
    <li><a href="https://github.com/keirf/Greaseweazle">Greaseweazle</a> - Hardware to read Amiga floppy disks on PC</li>
    <li><a href="https://ftp.uni-erlangen.de/aminet/dev/asm/ira.lha">ira</a> - Amiga-specific 68k disassembler</li>
    <li><a href="https://github.com/prb28/m68k-instructions-documentation">m68k-instructions-documentation</a> - 68000 instruction and Amiga registers and library documentation</li>
    <li><a href="https://textfiles.meulie.net/programming/AMIGA/mapamiga.txt">Mapping the Amiga</a> - Documentation on Amiga registers</li>
    <li><a href="https://codetapper.com/amiga/maptapper/">MapTapper</a> - Amiga graphics ripper for Windows</li>
    <li><a href="https://mrjester.hapisan.com/04_MC68/">MarkeyJester's Motorola 68000 Beginner's Tutorial</a></li>
    <li><a href="http://sun.hasenbraten.de/vasm/">vasm</a> - Amiga assembler</li>
    <li><a href="https://www.winuae.net/">WinUAE</a> - Amiga emulator with debugger</li>
    <li><a href="https://ftp.uni-erlangen.de/aminet/util/pack/xfdmaster.lha">XFDMaster</a> - Amiga tool to unpack nearly any Amiga compressed file format</li>
    <li><a href="https://github.com/nforest/awesome-decompilation">awesome-decompilation</a>, a list of decompilation resources</a></li>
  </ul>

  <h3>Public releases of original game source code</h3>
  <ul class="posts">
    <li><a href="https://github.com/jhorneman/amberstar">Amberstar</a> and <a href="https://github.com/jhorneman/ambermoon">Ambermoon</a></li>
    <li><a href="https://amigasourcepres.gitlab.io/">Amiga Source Preservation</a> - Amiga textbooks and source code</li>
    <li><a href="https://github.com/grovdata/Amiga_Sources">Amiga Sources</a> - Links to Amiga hardware and software sources</li>
    <li><a href="https://github.com/historicalsource">Historical Source</a> - Source code for games of various platforms</li>
    <li><a href="https://en.wikipedia.org/wiki/List_of_commercial_video_games_with_available_source_code">List of commercial video games with available source code</a> - Wikipedia</li>
    <li><a href="https://en.wikipedia.org/wiki/List_of_commercial_video_games_with_later_released_source_code">List of commercial video games with later released source code</a> - Wikipedia</li>
    <li><a href="https://github.com/RetailGameSourceCode">Retail Video Game Code</a> - Source code for games of various platforms</li>
    <li><a href="https://github.com/videogamepreservation/">Video Game Preservation</a> - Source code for games of various platforms</li>
  </ul>

  <h3>Other game analysis projects</h3>
  <ul class="posts">
    <li><a href="https://github.com/Pyrdacor/Ambermoon">Ambermoon</a>, the 1993 Amiga RPG</li>
    <li><a href="https://github.com/nmlgc/ReC98">The Touhou PC-98 Restoration Project</a></li>
    <li><a href="https://github.com/pret">pret</a>, Pokémon GB/GBC/GBA/DS disassemblies</li>
    <li><a href="https://github.com/lethal-guitar/Duke2Reconstructed">Duke2Reconstructed</a>, disassembly of the 1993 MS-DOS game Duke Nukem II</li>
    <li><a href="https://gamehistory.org/monkeyisland/">The Secrets of Monkey Island's Source Code</a> by the Video Game History Foundation</li>
    <li><a href="https://github.com/dfloer/SC2k-docs">SC2k-docs</a>, Sim City 2000 analysis</li>
    <li><a href="https://www.bbcelite.com/">Elite on the BBC Micro</a>, also Aviator and Revs</li>
    <li><a href="https://github.com/open-ribbon/open-ribbon">open-ribbon</a>, decompilation of 1999 PSX rhythm game Vib Ribbon</li>
    <li><a href="https://github.com/zeldaret/">Zelda Reverse Engineering Team</a>, decompiling several Legend of Zelda games</li>
    <li><a href="https://github.com/EricOakford/SCI-Decompilation-Archive">SCI-Decompilation-Archive</a>, Sierra's SCI games</li>
    <li><a href="https://github.com/hitchhikr?tab=repositories&q=&type=&language=assembly&sort=">hitchhikr</a>'s Amiga disassembly projects</li>

    <li>Search GitHub for:
<a href="https://github.com/search?utf8=%E2%9C%93&q=disassembly&type=repositories">disassembly</a>,
<a href="https://github.com/search?utf8=%E2%9C%93&q=decompilation&type=repositories">decompilation</a>
</li>
  </ul>
